---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

//
//                        ___
//                       /\_ \
//  _____     ___     ___\//\ \      __
// /\ '__`\  / __`\  / __`\\ \ \   /'__`\
// \ \ \_\ \/\ \_\ \/\ \_\ \\_\ \_/\  __/
//  \ \ ,__/\ \____/\ \____//\____\ \____\
//   \ \ \/  \/___/  \/___/ \/____/\/____/
//    \ \_\
//     \/_/
//
// Designed, built, and released under MIT license by @mdo. Learn more at
// https://github.com/poole/poole.

@import "variables";
@import "base";
@import "type";
@import "layout";
@import "masthead";

// Sass for creating the swatches
.colors {
  display: grid;
  grid-template-columns: max-content 1fr;

  dt {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  }

  dd {
    margin-left: var(--spacer);
  }
}
