// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer-3);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
  text-align: center;
  background-color: var(--gray-800);
}

.masthead-title {
  margin-bottom: 0;
  color: var(--gray-100);

  a {
    color: var(--teal);
    text-decoration: none;
    }

  p.small {
    font-weight: 500;
    opacity: .8;
    font-size: 65%;
    padding-top: var(--spacer);
    font-family: var(--body-font);
  }

  p.download {
    color: var(--gray-100);
    text-decoration: none;
    font-size: 70%;
    font-family: var(--body-font);
  }
}
