<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

      <header class="masthead">
        <h1 class="masthead-title">
          {{ site.title }}
          <br />
          <p class="small">{{ site.tagline }}</p>
          <p class="small">This work will be published at the 2022 IEEE Symposium on Security and Privacy</p>
          <p class="download"><i class="fas fa-download"></i> <a href="{{ 'assets/practical_emv_rp.pdf' | relative_url }}" target="_new">Download paper</a></p>
        </h3>
      </header>

      <div class="container content">
        <div class="nav">
          {% for page in site.html_pages %}
            {% if page.title contains '404' %}
            {% else %}
              <a class="button" href="{{ page.url }}">{{page.title}}</a> 
            {% endif %}
          {% endfor %}
        </div>
        <main>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          A GitLab Pages site, based on the <a href="">Poole</a> theme. Maintainted by <a href="{{site.author.contact}}" target="_new">{{site.author.name}}</a>
        </small>
      </footer>
    </div>

  </body>
</html>
